In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# 1) Data Collection

In [13]:
df = pd.read_csv(r"D:\ITI\power bi project\data\row-data.csv")

In [14]:
df.head()

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,...,Product Price,Product Status,shipping date (DateOrders),Shipping Mode,Date,Year,Month,Day,Hour,Count
0,DEBIT,3,4,91.250000,314.640015,Advance shipping,0,73,Sporting Goods,Caguas,...,327.75,0,2/3/2018 22:56,Standard Class,2018-01-31,2018,1,31,22,1
1,TRANSFER,5,4,-249.089996,311.359985,Late delivery,1,73,Sporting Goods,Caguas,...,327.75,0,1/18/2018 12:27,Standard Class,2018-01-13,2018,1,13,12,2
2,CASH,4,4,-247.779999,309.720001,Shipping on time,0,73,Sporting Goods,San Jose,...,327.75,0,1/17/2018 12:06,Standard Class,2018-01-13,2018,1,13,12,3
3,DEBIT,3,4,22.860001,304.809998,Advance shipping,0,73,Sporting Goods,Los Angeles,...,327.75,0,1/16/2018 11:45,Standard Class,2018-01-13,2018,1,13,11,4
4,PAYMENT,2,4,134.210007,298.250000,Advance shipping,0,73,Sporting Goods,Caguas,...,327.75,0,1/15/2018 11:24,Standard Class,2018-01-13,2018,1,13,11,5

In [15]:
# Check for Missing Columns or Rows
df.isnull().sum()

Type                                  0
Days for shipping (real)              0
Days for shipment (scheduled)         0
Benefit per order                     0
Sales per customer                    0
Delivery Status                       0
Late_delivery_risk                    0
Category Id                           0
Category Name                         0
Customer City                         0
Customer Country                      0
Customer Email                        0
Customer Fname                        0
Customer Id                           0
Customer Lname                        8
Customer Password                     0
Customer Segment                      0
Customer State                        0
Customer Street                       0
Customer Zipcode                      3
Department Id                         0
Department Name                       0
Latitude                              0
Longitude                             0
Market                                0
Order City                            0
Order Country                         0
Order Customer Id                     0
order date (DateOrders)               0
Order Id                              0
Order Item Cardprod Id                0
Order Item Discount                   0
Order Item Discount Rate              0
Order Item Id                         0
Order Item Product Price              0
Order Item Profit Ratio               0
Order Item Quantity                   0
Sales                                 0
Order Item Total                      0
Order Profit Per Order                0
Order Region                          0
Order State                           0
Order Status                          0
Order Zipcode                    155679
Product Card Id                       0
Product Category Id                   0
Product Description              180519
Product Image                         0
Product Name                          0
Product Price                         0
Product Status                        0
shipping date (DateOrders)            0
Shipping Mode                         0
Date                                  0
Year                                  0
Month                                 0
Day                                   0
Hour                                  0
Count                                 0
dtype: int64

In [16]:
# Drop Columns Order Zipcode and Product Description
df.drop(columns=['Order Zipcode', 'Product Description'], inplace=True)

# drop rows that has (Customer Zipcode) null value {3 rows affected}
df.dropna(inplace=True)

# 2) Data Storage & Organization

In [28]:
df.dtypes

type                                   object
days_for_shipping_real                  int64
days_for_shipment_scheduled             int64
benefit_per_order                     float64
sales_per_customer                    float64
delivery_status                        object
late_delivery_risk                      int64
category_id                             int64
category_name                          object
customer_city                          object
customer_country                       object
customer_fname                         object
customer_id                             int64
customer_lname                         object
customer_segment                       object
customer_state                         object
customer_street                        object
customer_zipcode                      float64
department_id                           int64
department_name                        object
latitude                              float64
longitude                             float64
market                                 object
order_city                             object
order_country                          object
order_customer_id                       int64
order_date_dateorders          datetime64[ns]
order_id                                int64
order_item_cardprod_id                  int64
order_item_discount                   float64
order_item_discount_rate              float64
order_item_id                           int64
order_item_product_price              float64
order_item_profit_ratio               float64
order_item_quantity                     int64
sales                                 float64
order_item_total                      float64
order_profit_per_order                float64
order_region                           object
order_state                            object
order_status                           object
product_card_id                         int64
product_category_id                     int64
product_image                          object
product_name                           object
product_price                         float64
product_status                         object
shipping_date_dateorders       datetime64[ns]
shipping_mode                          object
date                                   object
year                                    int64
month                                   int64
day                                     int64
hour                                    int64
count                                   int64
dtype: object

In [21]:
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_').str.replace(r'[^\w]', '', regex=True)
print(df.columns)

Index(['type', 'days_for_shipping_real', 'days_for_shipment_scheduled',
       'benefit_per_order', 'sales_per_customer', 'delivery_status',
       'late_delivery_risk', 'category_id', 'category_name', 'customer_city',
       'customer_country', 'customer_email', 'customer_fname', 'customer_id',
       'customer_lname', 'customer_password', 'customer_segment',
       'customer_state', 'customer_street', 'customer_zipcode',
       'department_id', 'department_name', 'latitude', 'longitude', 'market',
       'order_city', 'order_country', 'order_customer_id',
       'order_date_dateorders', 'order_id', 'order_item_cardprod_id',
       'order_item_discount', 'order_item_discount_rate', 'order_item_id',
       'order_item_product_price', 'order_item_profit_ratio',
       'order_item_quantity', 'sales', 'order_item_total',
       'order_profit_per_order', 'order_region', 'order_state', 'order_status',
       'product_card_id', 'product_category_id', 'product_image',
       'product_name', 'product_price', 'product_status',
       'shipping_date_dateorders', 'shipping_mode', 'date', 'year', 'month',
       'day', 'hour', 'count'],
      dtype='object')

In [22]:
# Convert date columns to datetime format
df['order_date_dateorders'] = pd.to_datetime(df['order_date_dateorders'], errors='coerce')
df['shipping_date_dateorders'] = pd.to_datetime(df['shipping_date_dateorders'], errors='coerce')

# Convert numeric fields
numeric_columns = [
    'sales', 'order_item_discount', 'order_item_total', 'order_item_discount_rate',
    'order_item_product_price', 'order_item_quantity', 'order_profit_per_order',
    'order_item_profit_ratio', 'benefit_per_order', 'sales_per_customer'
]
df[numeric_columns] = df[numeric_columns].apply(pd.to_numeric, errors='coerce')

# Convert categorical fields to string type
categorical_columns = [
    'type', 'delivery_status', 'customer_segment', 'order_status', 'product_name',
    'product_status', 'market', 'order_region', 'shipping_mode'
]
df[categorical_columns] = df[categorical_columns].astype(str)

In [29]:
# Remove duplicate rows
df.drop_duplicates(inplace=True)

# 3) Data Cleaning & Preparation

In [23]:
# Drop the column 'product_description'
df.drop(columns=['product_description','customer_email', 'customer_password'], inplace=True, errors='ignore')

In [24]:
print("Unique values in Market:", df['market'].unique())
print("Unique values in Order Region:", df['order_region'].unique())

Unique values in Market: ['Pacific Asia' 'USCA' 'Africa' 'Europe' 'LATAM']
Unique values in Order Region: ['Southeast Asia' 'South Asia' 'Oceania' 'Eastern Asia' 'West Asia'
 'West of USA ' 'US Center ' 'West Africa' 'Central Africa' 'North Africa'
 'Western Europe' 'Northern Europe' 'Central America' 'Caribbean'
 'South America' 'East Africa' 'Southern Europe' 'East of USA' 'Canada'
 'Southern Africa' 'Central Asia' 'Eastern Europe' 'South of  USA ']

In [25]:
df['market'] = df['market'].str.strip()
df['order_region'] = df['order_region'].str.strip()

In [30]:
# Trim spaces from all values
df['market'] = df['market'].str.strip()
df['order_region'] = df['order_region'].str.strip()

# Standardize Market column
df['market'] = df['market'].replace({
    'USCA': 'US_CA',
    'LATAM': 'Latin America'
})

# Standardize Order Region column
df['order_region'] = df['order_region'].replace({
    'West of USA': 'Western USA',
    'US Center': 'Central USA',
    'South of  USA': 'Southern USA'  # Fix extra space issue
})

# 4) Data Processing & Transformation

In [37]:
# Create a â€˜Month-Yearâ€™ Column
df['month_year'] = df['order_date_dateorders'].dt.strftime('%Y-%m')

In [39]:
# Calculate â€˜Late Deliveryâ€™ Indicator
df['late_delivery'] = (df['days_for_shipping_real'] > df['days_for_shipment_scheduled']).astype(int)

In [40]:
# Standardize Discount & Profit Metrics
df['order_item_discount_rate'] = df['order_item_discount_rate'] / 100

### now our data is cleaned and ready for Visualization

**lets save the data and move to Power Bi**

In [41]:
df.to_csv(r"D:\ITI\power bi project\data\cleaned_data.csv", index=False)

# Questions & Visuals for Analysis

Total Sales Per Month ==> **Line Chart**

Top 10 Most Profitable Products ==> **Bar Chart**

On-time vs. Late Deliveries ==> **Pie Chart**

Total Orders Per Customer Segment ==> **Bar Chart**

Sales Performance by Region ==> **Map**

Sales vs. Discounts Impact on Revenue ==> **Scatter Plot**